<html>
	<body>
		<form action = '/result' method = "post">
			<label>Your name:</label><input type="text" name="name"><br>
			<label>Dojo Location:</label><select name ="dojo">
				<option value = "mountain view">mountain view</option>
				<option value = "dc dojo">dc dojo</option>
				<option value = "seattle">seattle</option>
			</select><br>
			<label>Favorite Language:</label><select name ="lang">
				<option value = "C++">C++</option>
				<option value = "Javascript">Javascript</option>
				<option value = "Python">Python</option>
			</select><br>
			<label>Comment (optional):</label><textarea name ="comment"></textarea><br>
			<input type="submit" name = "submit"><br>
		</form>
	</body>
</html>