<!DOCTYPE html>
<html ng-app='app'>
	<head>
		<title>Controller and Directives</title>
		<script src = "bower_components/angular/angular.js"></script>
		<script type="text/javascript">
			var app = angular.module('app', []);
			app.controller('foodController', ['$scope', function($scope){
				$scope.foods = [];
				$scope.addFood = function(myFood){
					$scope.foods.push($scope.myFood);
					$scope.myFood ='';
				}
			}]);
		</script>
	</head>
	<body>
		<div ng-controller='foodController' id = 'foodController'>
			<form>
				<h3>Favorite Food: <input type="text" ng-model = 'myFood'></h3>
				<input type="submit" value="Add Food" ng-click='addFood(myFood)'>
				<div ng-if= 'myFood' id ='food'>
					<h3>Currently typing: <span>{{myFood}}</span></h3>
				</div>
			</form>
			<form>
				<input type="text" name="filter" ng-model = 'myFilter' placeholder = "filter...">
				<div ng-repeat='food in foods | filter:myFilter track by $index'>
					<b>{{food}}</b>
				</div>
			</form>
		</div>
	</body>
</html>