<!DOCTYPE html>
<html>
	<head>
		<title>Create/Delete User</title>
	</head>
	<body ng-controller='customizeUsersController'>
		<form>
			<label>First Name: </label><input type="text" name="first" ng-model='user.first'>
			<label>Last Name: </label><input type="text" name="last" ng-model='user.last'>
			<label>Favorite Language: </label><input type="text" name="lang" ng-model='user.lang'>
			<input type="submit" value="Create User" ng-click='addUser()'>
		</form>
		<table>
			<thead>
				<tr>
					<th>First Name</th>
					<th>Last Name</th>
					<th>Favorite Language</th>
					<th>Actions</th>
				</tr>
			</thead>
			<tbody>
				<tr ng-repeat='userItem in users'>
					<td>{{userItem.first}}</td>
					<td>{{userItem.last}}</td>
					<td>{{userItem.lang}}</td>
					<td><input type="submit" value="Delete User" ng-click='deleteUser($index)'></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>